<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link href="{% static 'home/style.css' %}" rel="stylesheet">

</head>
<body>
	<nav class="nav-area">
		<ul>
			<li>
				<a href="#">Abc Bank</a>
			</li>
			<li>
				<a href="login">Login</a>
			</li>
          <li>
				<a href="register">Register</a>
			</li>

			<li>
				<a href="#">Branches</a>
				<ul>
					<li>
						<a href="https://en.wikipedia.org/wiki/Ernakulam">Ernakulam</a>
					</li>
					<li>
						<a href="https://en.wikipedia.org/wiki/Thrissur">Thrissur</a>
					</li>
					<li>
						<a href="https://en.wikipedia.org/wiki/Kollam">Kollam</a>
					</li>
					<li>
						<a href="https://en.wikipedia.org/wiki/Alappuzha">Alappuzha</a>
					</li>
					<li>
						<a href="https://en.wikipedia.org/wiki/Kottayam">Kottayam</a>
					</li>

		</ul>
	</nav>
</body>
</html>
